html{
    background-color:rgb(23, 23, 23) ;

    height: 100%;
    width: 100%;
    
}

body{
    width: 100vw;
    height: 200vh;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color:rgb(240, 185, 11)
}
.links > * {
    height: 30px;
    width: 30px;
    color:rgb(240, 185, 11);
    margin-left: 10px;
}
.help{
    font-size: 25px;
    font-weight: 800;
   

}
.help:hover{
    color:rgb(255, 229, 142)
}
.display-none{
    display: none;
}
.info-area{
    /* position: absolute;
    right: 50px;
    top: 100px; */
    border-radius: 5px;
    padding: 50px;
    color:white;
    /* margin-top: 20px; */
    margin: 0 auto 0 ;
    width: 500px;

    background: rgba(0, 0, 0, 0.62);
}
.header {
    background: black;
    margin-bottom: 50px;
        /* background: rgb(94, 102, 115); */

}

.body {
    /* background: url("../photos/matt-gross-stars.jpg"); */
    background-position: left;
    background-size: cover;
}

.title{ 
    color: rgb(240, 185, 11);
    /* color: #5DADE2;
    color: #0094ff; */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 16px;
    font-weight: bold;
    font-size: 19px;
}

.d-flex {
    display: flex;
}

.d-justify-center {
    justify-content: center;
}

.d-align-center {
    align-items: center;
}

