#search{
    padding: 10px;    
}

.placeholder {
    font-size: 12px;
    width: 250px;
}

#enter{

    color: black;
    background: rgb(240, 185, 11);
    background: #AF7AC5;
    background: #e235ff;
    padding: 4px; 
    border: 0px rgb(0, 0, 0) solid;
    border-radius: 2px;
    font-size: 12px;
}
.leaf{

    background: rgb(240, 185, 11);
   background-color: #AF7AC5;
   background: #e235ff;
    border-radius: 20px;
    height: 80px;
    width: 80px;
}

.leaf:hover{
    height: 280px;
    width: 180px;
    background-color: #AF7AC5;
    z-index: 2000;
    box-shadow: 0 0 10px #000000;
}   

.leaf-root {

    border-radius: 20px;
    height: 80px;
    width: 80px;
    background: #0094ff;
    /* color: #0094ff; */
    font-weight: bold;
}

.leaf-root .circle-link {
    color: white;
}

.expand{
    background-color: rgb(50, 51, 50);
    color: white;
}

.all{
    background-color: rgb(228, 231, 228);
    color: rgb(47, 47, 47);
}

.link{
    stroke: #545454;
    stroke-width: 10px
}

#search_area{
    width: 100%;
    height: 100%;
}