#search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding: 20px;
    background-color: rgb(42, 42, 42);
    width: 120px;
    border-radius: 5px;

}

.node{
    background-color: rgb(0, 134, 67);
    border-radius: 5px;
    
}

.expand{
    background-color: rgb(50, 51, 50);
    color: white;
}

.all{
    background-color: rgb(228, 231, 228);
    color: rgb(47, 47, 47);
}