#search{
    padding: 10px;    
}

.placeholder {
    font-size: 12px;
    width: 250px;
}

#enter{
   /* background: rgb(45,45,45); */
    /* color: rgb(206, 203, 203);  */
    color: black;
    background: rgb(240, 185, 11);
    padding: 4px; 
    border: 0px rgb(0, 0, 0) solid;
    border-radius: 2px;
    font-size: 12px;
}
.leaf{
    /* fill: rgb(96, 233, 215);
    stroke: rgb(119, 255, 221); */
    /* fill: rgb(240, 185, 11); */
    background: rgb(240, 185, 11);
    border-radius: 50px;
}

.leaf.leaf-root {
    background: rgb(51, 117, 187);
    font-weight: bold;
}

.leaf-root .circle-link {
    color: white;
}

.expand{
    background-color: rgb(50, 51, 50);
    color: white;
}

.all{
    background-color: rgb(228, 231, 228);
    color: rgb(47, 47, 47);
}

